

### Archives ###
*.[trj][ga][zr]
*.[t7]z
*.bz2
*.zip
### Logs ###
*.log*
*log.*
logs/
###  Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
###  MacOS ###
.DS_Store
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleD*
.apdisk
### Node ###
*.log*
*.seed*
.node_repl_history
node_modules/
.npm
.*cache
1
############################# VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
###################################### Windows ###
*[Tt]humbs.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.ms[mpi]*
*.lnk
##################################### Compiled ###
target/
public/
build/
dist/
out/
mjs/
cjs/
#################################### Utilities ###
*.ignore.*
*.bak
### ## Env ###
.env*
[Ee][Nn][Vv]/
