
:root {
  --primary: #7B61FF;
  --black: #1E2539;
  --gray-100: #F4F5F8;
  --gray-200: #D9DBE0;
  --gray-300: #676B83;
}

html {
  font-family: 'Inter', sans-serif;
}

body {
  font-size: 1rem;
  font-weigth: 400;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

.bold, h1, h2, h3 {
  font-weight: 700;
}

body, h1, h2, h3 {
  color: var(--black);
}

.caption {
  font-size: 0.875rem;
  color: var(--gray-300);
}
